@import './base.css';

body {
  background-color: #4d296d;
  font-family: "Segoe UI",Tahoma,Geneva,Verdana,sans-serif;  
}
#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  color:#fff;
}
.content-style {
  margin:0px;
  margin-top: 172px;
  padding: 20px;
}
.app-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 206px;
  box-shadow: 0 4px 12px -2px rgb(38, 36, 36);
}
header {
  line-height: 1.5;
  max-height: 100vh;
}
.logo {
  display: block;
  margin: 0 auto 2rem;
}
.center-header {
  color: #fff;
  text-align: center;
  width: 100%;
}
.book-rocket {
  float: left;
  margin: 10px 20px 20px 20px;
}
.logo-tagline {
  float: left;
  margin: 20px 0px 0px 20px;
}
.logo {
  margin: 20px 0 0 0;
  display: block;
}
.tagline {
  float: left;
  font-size: 16px;
  text-align: left;
  color: #fff;
  margin: 0 0 20px 0;
}
footer {
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 10px;
  right: 0px;
  margin-bottom: 0px;
  padding-top: 15px;
  background-color: #4d296d;
}
footer .to-top {
  float: right;
  padding-right: 30px;
  padding-top: 5px;
  font-size: 0.9em;
  cursor: pointer;
}
.img-display {
  box-shadow: 8px 10px 8px -4px rgba(0, 0, 0, 0.62);
  margin-bottom: 10px;
  margin-top: 30px;
  cursor: pointer;
}
/*HOME PAGE*/
.display {
 display: flex;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  align-items: top;
  justify-content: center;
  margin:auto;
  margin-top: 20px;
}
.each-book {
  width: 30%;
  box-sizing: border-box;
  margin-top: 0;
  padding-top: 0;
}
.display-book-home {
  text-align: center;
  margin-bottom: 20px;
}
.flex-container {
  display: flex;
}
.book-info {
  cursor: pointer;
}
/*DETAIL PAGE*/
.btn-outline-primary {
  border-color: #4d296d;
}
.btn-outline-primary:hover {
  border-color: #fff;
  background-color: #21033b !important;
}
.detail-img-display {
   box-shadow: 8px 10px 8px -4px rgba(0, 0, 0, 0.62);
}
.book-detail {
  display: flex;
  width: 55%;
  align-items: top;
  margin: auto;
}
.book-detail h1 {
  font-size: 1.75em;
}
.display-book {
  text-align: left;
  margin-bottom: 20px;
}
.author-image {
  padding-left: 60px;
}
.item-description{
 margin-top: 20px; font-size: 1.2em; line-height: 1.7em
}
.flex-container{
   display: flex;
   margin-top: 20px;
   flex-direction: row;
   align-items: center;
}
.item-title {
  float: left;
  padding-right: 30px
}
.item-image {
  max-width: 100%;
  border: 1px solid #fff
}

@media (max-width:  1025px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }
  .logo {
    margin: 0 0 0 0;
    max-width: 275px;
  }
  .book-rocket {
    margin: 20px 10px 0 20px;
  }
  .tagline {
    font-size: 18px;
    margin-left:10px;
  }
  /*HOME PAGE*/
   .each-book {
    width: 30%;
  }
}

@media screen and (max-width: 820px) {
  .logo {
    margin: 0;
  }
  .each-book {
    width: 50%;
  }
  .book-detail {
   width: 86%;
 }
}

@media screen and (max-width: 660px) {
  .book-rocket {
    text-align: left;
    margin: 0 0 0 10px;
    max-width: 180px;
  }
  .logo-tagline {
    margin: 0;
  }
  .logo {
    margin: 0 0 0 14px;
    display: block;
    max-width: 240px;
  }
  .tagline {
    float: left;
    font-size: 14px;
    text-align: left;
    color: #fff;
    margin: 0px;
    margin-left: 14px;
  }
}

@media screen and (max-width: 540px) {
  #app {
    width:98%
  }
  .app-header {
    height: 140px;
    width: 500px;
  }
  .content-style {
    margin-top: 100px;
  }
  .book-rocket {
    text-align: left;
    margin: 0 0 0 10px;
    max-width: 130px;
  }
  .logo-tagline {
    margin: 0;
  }
  .logo {
    margin: 0 0 0 14px;
    display: block;
    max-width: 200px;
  }
  .tagline {
    float: left;
    font-size: 14px;
    text-align: left;
    color: #fff;
    margin: 0px;
    margin-left: 14px;
  }
  /*HOME PAGE*/
  .app-header {
    height: 140px;
  }
  .each-book {
    width: 100%;
  }
  .display {
    width:70%;
  }
  /*DETAIL PAGE*/
  .book-detail h1 {
    font-size: 1.25em;
    line-height: 1.5em;
    margin-top: 20px;
   }
   .book-detail {
      width:100%;
   }
  .detail-img-display {
    width:95%;
  }
}
@media screen and (max-width: 420px) {
   .tagline {
    font-size: 11px;
   }
   footer {
     width: 76%;
   }
   footer .to-top {
    padding-right:12px;
   }
}
@media screen and (max-width: 378px) {
   footer {
     width: 68%;
   }
   footer .to-top {
    padding-right:6px;
   }
}
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

